.center {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: orange;
  }
  h3 {
    font-size: 1.8em;
    // color: rgb(41, 191, 196);
    color: rgb(164, 54, 129);
  }
}

.button {
  width: 300px;
  height: 60px;
}

@media (max-width: 768px) {
  .center {
    margin-top: 0;
  }
  .buttonContainer {
    gap: 40px;
  }
  .header {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .header {
    font-size: 29px;
    text-align: center;
  }
  .headerThree {
    text-align: center;
    font-size: 24px !important;
  }
  .buttonContainer {
    margin-top: 15px;
  }
}
