.container {
  margin-top: 70px;
  min-height: 270px;
}

.card {
  width: 600px;
}

.stepLabel {
  & span {
    & span {
      color: purple;
      font-size: 1.1em;
    }
  }
}

.completed {
  & span {
    & span {
      color: rgb(252, 242, 134) !important;
      font-size: 1.1em;
    }
  }
}
