.empty {
  color: red;
  text-align: center;
  font-size: 1.5em;
  button {
    margin-top: 15px;
  }
}

.card {
  width: 900px;
}

.pb {
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .header {
    font-size: 25px;
  }
  .wrapper {
    padding-bottom: 10px;
  }
  .box {
    padding-bottom: 0;
  }
}
